@import url(variables.css);

main {
    text-align: center;
}

#title-drop-3 {
    margin-top: 2rem;
    color: transparent;
    font-family: medieval;
    font-size: min(9rem, 12vw);
    -webkit-text-stroke-width: .01vw;
    -webkit-text-stroke-color: var(--color-off-white);
}

.products-container {
    margin: 5rem auto 0;
    margin-top: 3rem;
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem;
}

.product {
    position: relative;
    cursor: pointer;
    transition: all .2s;
    padding-bottom: 5rem;
}

.product:hover{
    border: solid 2px var(--color-light-gray);
}
.product:hover:not(.product--muted) .btn-buy {
    background-color: var(--color-white);
    color: var(--color-black);
}


.product--muted img {
    opacity: 55%;
    transition: all .3s;
}
.product--muted .btn-buy {
    pointer-events: none;
    opacity: 50%;
}

.product__description {
    padding: 1.5rem;
}

.product__name{
    margin-top: 1rem;
    color: var(--color-white);
    font-size: min(2.2rem, 4vw);
}

.product__name .huzt-strong {
    color: var(--color-white);
}

.price {
    color: var(--color-white);
    font-size: min(3rem, 5vw);
    margin-top: .5rem;
}

.tee-container {
    position: relative;
}

.sold {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    white-space: nowrap;
    font-family: medieval;
    font-size: min(4rem, 10vw);
    transition: all .5s;
}

.product:hover .sold {
    font-size: min(5rem, 15vw);
    -webkit-text-stroke-width: .1vw;
    -webkit-text-stroke-color: var(--color-off-white);
}

.btn-buy{
    position: absolute;
    left: 50%;
    bottom: .5rem;
    transform: translate(-50%);
    width: 15rem;
    padding: .6rem;
    margin: 1rem 0;
    border-radius: .1rem;
    font-size: 2rem;
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    transition: all 0.5s;
}

.btn-buy:hover{
    width: 13rem;
    background-color: var(--color-white);
    color: var(--color-black);
}

footer {
    font-size: min(1.4rem, 3.4vw);
    text-align: center;
    color: var(--color-white);
    position: relative;
    margin-top: 10rem;
    height: 2rem;
}