@import url(variables.css);

main {
    max-width: 55%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "img-shop img-lookbook"
    "img-shop img-huzt";
    place-items: center;
    column-gap: 3rem;
    row-gap: 2rem;
    padding-top: 5rem;
}

#img-shop,
#img-huzt,
#img-lookbook {
    grid-area: img-shop;
    transition: all 0.5s;
    border: 2px solid var(--color-white);
    filter: saturate(0%);
    cursor: pointer;
}

#img-shop:hover,
#img-lookbook:hover,
#img-huzt:hover {
    transform: scale(1.1);
    filter: saturate(200%);
    border: solid var(--color-white) 4px;
}


#img-shop {
    grid-area: img-shop;
    height: 100%;
}
#img-lookbook {
    grid-area: img-lookbook;
} 
#img-huzt {
    grid-area: img-huzt;
}

@media (max-width: 700px) {
    main {
        max-width: 80%;
    }
}