:root {
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-off-white: rgb(226, 226, 226);
    --color-light-gray: rgb(34, 34, 34);
    --color-light-purple: rgb(142, 99, 205);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

    font-family: 'Times New Roman', Times, serif;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-black);
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

img {
    display: block;
    width: 100%;
}

button {
    cursor: pointer;
}

[alt] {
    color: var(--color-white);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    background-color: #000e;
    position: fixed;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.menu {
    margin-top: 1rem;
    user-select: none;
    padding-bottom: 1rem;
}

#logo-header {
    width: min(40rem, 60vw);
}

.menu__item {
    color: var(--color-off-white);
    font-size: min(3.5rem, 4vw);
    position: relative;
}

.menu__item:not(:last-child) {
    margin-right: 2rem;
}

.menu__item::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: var(--color-white);
    transform: scaleX(0);
    transition: all .4s;
    transform-origin: left;
}

.menu__item:hover::after {
    transform: scaleX(1);
}

.selected::after {
    transform: scaleX(1);
}

footer {
    font-size: min(1.4rem, 3.4vw);
    text-align: center;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
